<h1>Edit {{course.title}}</h1>
<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="Enter course's name"></span>
  </div>
  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>
  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">Cover's URL</label>
    <span class="helper-text" data-error="Enter cover's URL"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">

  <button class="btn btn-primary">Edit</button>
</form>
